### Summary
* Overall, students at schools with lower per student budgets outperformed their peers at higher per student budget schools on reading and math tests. Students at schools with low to medium sized populations, had higher test scores than those at schools with larger student bodies.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
#Data cleaning
school_data_complete.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
#Data cleaning
school_data.count()
student_data.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [4]:
#caclculate total # of schools
total_schools = school_data_complete["school_name"].nunique()
#total students
total_students = len(school_data_complete)
#total budget
total_budget = school_data_complete["budget"].sum()
type(total_budget)
#avg math score
avg_math_score = school_data_complete["math_score"].mean()
#avg reading score 
avg_reading_score = school_data_complete["reading_score"].mean()
#% with passing math scores 
passed_math_percent = school_data_complete[school_data_complete["math_score"]>=70]["student_name"].count()/(total_students)*100
#% with passing reading scores
passed_reading_percent = school_data_complete[school_data_complete["reading_score"]>=70]["student_name"].count()/(total_students)*100
#% who passed math & reading
passed_overall_percent = school_data_complete.loc[(school_data_complete["reading_score"]>=70) & (school_data_complete["math_score"]>=70)]["student_name"].count()/(total_students)*100
#create a dataframe to hold results
district_summary_df = pd.DataFrame({"Total number of schools": total_schools, 
                                            "Total number of students": total_students, 
                                            "Total budget": total_budget,
                                            "Avg math score": avg_math_score, 
                                            "Avg reading score": avg_reading_score, 
                                            "Percent passsed math": passed_math_percent, 
                                            "Percent passed reading": passed_reading_percent,
                                            "Percent passed overall": passed_overall_percent},index=[0])
district_summary_df

,Total number of schools,Total number of students,Total budget,Avg math score,Avg reading score,Percent passsed math,Percent passed reading,Percent passed overall
0,15,39170,82932329558,78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [15]:
#Groupby
by_school_df = school_data_complete.groupby(["school_name"])
#school name
#school_name = by_school_df.mean()["school_name"]
#total students
total_students = by_school_df.count()["student_name"]
#total budget
total_budget = by_school_df.mean()["budget"]
#per student budget
per_student_budget = total_budget/total_students
#average math score
avg_math_score = by_school_df["math_score"].mean()
#average reading score
avg_reading_score = by_school_df["reading_score"].mean()
#% with passing math scores
#list of all passing
math_over70 = school_data_complete.loc[school_data_complete["math_score"]>=70]
math_percent = math_over70.groupby("school_name").count()["student_name"]/total_students*100
#% with passing reading scores
#list of all passing
reading_over70 = school_data_complete.loc[school_data_complete["reading_score"]>=70]
reading_percent = reading_over70.groupby("school_name").count()["student_name"]/total_students*100
reading_percent
#overall percent
#list of all with overall passing
overall_over70 = school_data_complete.loc[(school_data_complete["reading_score"]>=70) & (school_data_complete["math_score"]>=70)]
overall_percent = overall_over70.groupby("school_name").count()["student_name"]/total_students*100
#create a dataframe to hold results
school_summary_df = pd.DataFrame({"School type": type,
                                    "Total students": total_students,
                                     "Budget": total_budget,
                                      "Per Student Budget":per_student_budget,
                                      "Avg math score": avg_math_score,
                                     "Avg reading score": avg_reading_score,
                                     "Percent passed math": math_percent,
                                     "Percent passed reading": reading_percent,
                                     "Percent passed overall": overall_percent})
school_summary_df

,School type,Total students,Budget,Per Student Budget,Avg math score,Avg reading score,Percent passed math,Percent passed reading,Percent passed overall
school_name,,,,,,,,,
Bailey High School,<class 'type'>,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,<class 'type'>,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,<class 'type'>,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,<class 'type'>,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,<class 'type'>,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,<class 'type'>,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,<class 'type'>,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,<class 'type'>,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,<class 'type'>,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,<class 'type'>,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,<class 'type'>,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,<class 'type'>,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,<class 'type'>,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,<class 'type'>,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,<class 'type'>,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [6]:
overall_passing_sort_df=school_summary_df.sort_values(["Percent passed overall"], ascending=False)
overall_passing_sort_df.head(5)

,School type,Total students,Budget,Per Student Budget,Avg math score,Avg reading score,Percent passed math,Percent passed reading,Percent passed overall
school_name,,,,,,,,,
Cabrera High School,<class 'type'>,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,<class 'type'>,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,<class 'type'>,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,<class 'type'>,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,<class 'type'>,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [7]:
overall_passing_sort_df=school_summary_df.sort_values(["Percent passed overall"])
overall_passing_sort_df.head(5)

,School type,Total students,Budget,Per Student Budget,Avg math score,Avg reading score,Percent passed math,Percent passed reading,Percent passed overall
school_name,,,,,,,,,
Rodriguez High School,<class 'type'>,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,<class 'type'>,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,<class 'type'>,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,<class 'type'>,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,<class 'type'>,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [9]:
#create variables for the table by grade
#by grade 9
by_grade_9 = school_data_complete.loc[school_data_complete["grade"] == "9th",:]
by_gradeandschool9 = by_grade_9.groupby("school_name")
ninthgrade_math_avg = by_gradeandschool9["math_score"].mean()
#by grade 10
by_grade_10 = school_data_complete.loc[school_data_complete["grade"] == "10th",:]
by_gradeandschool10 = by_grade_10.groupby("school_name")
tenthgrade_math_avg = by_gradeandschool10["math_score"].mean()
#by_grade_11
by_grade_11 = school_data_complete.loc[school_data_complete["grade"]=="11th",:]
by_gradeandschool11 = by_grade_11.groupby("school_name")
eleventhgrade_math_avg = by_gradeandschool11["math_score"].mean()
#by_grade_12
by_grade_12 = school_data_complete.loc[school_data_complete["grade"]=="12th",:]
by_gradeandschool12 = by_grade_12.groupby("school_name")
twelfthgrade_math_avg = by_gradeandschool12["math_score"].mean()

mathavg_bygrade_df = pd.DataFrame({"9th": ninthgrade_math_avg,
                                "10th":tenthgrade_math_avg,
                                "11th":eleventhgrade_math_avg,
                                "12th":twelfthgrade_math_avg})
mathavg_bygrade_df

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [10]:
#create variables for the table by grade
#by grade 9
ninthgrade_reading_avg = by_gradeandschool9["reading_score"].mean()
#by grade 10
tenthgrade_reading_avg = by_gradeandschool10["reading_score"].mean()
#by_grade_11
eleventhgrade_reading_avg = by_gradeandschool11["reading_score"].mean()
#by_grade_12
twelfthgrade_reading_avg = by_gradeandschool12["reading_score"].mean()

readingavg_bygrade_df = pd.DataFrame({"9th": ninthgrade_reading_avg,
                                "10th":tenthgrade_reading_avg,
                                "11th":eleventhgrade_reading_avg,
                                "12th":twelfthgrade_reading_avg})
readingavg_bygrade_df

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [11]:
#create bins
#per student budget
per_student_budget = total_budget/total_students
#determine quartiles
per_student_budget.quantile([0.25,0.5,0.75])
per_student_budget.min()
per_student_budget.max()
#bins should be:
bins = [578, 591, 628, 641.5, 655]
#create labels for the bins
labels = ["low spend/student", "moderate low spend/student", "moderate high spend/student", "high spend/student"]

In [12]:
#cut data and place it into bins
pd.cut(school_summary_df["Per Student Budget"], bins, labels=labels).head()
#put bins in a column
school_summary_df["Spend Group"] = pd.cut(school_summary_df["Per Student Budget"], bins, labels=labels)
school_summary_df.head()
#groupby budget
groupby_budget = school_summary_df.groupby("Spend Group")
print(groupby_budget["Avg math score", "Avg reading score", "Percent passed math", "Percent passed reading", "Percent passed overall"].mean())

                             Avg math score  Avg reading score  \
Spend Group
low spend/student                 83.515798          83.915256
moderate low spend/student        81.899826          83.155286
moderate high spend/student       78.990942          81.917212
high spend/student                77.023555          80.957446

                             Percent passed math  Percent passed reading  \
Spend Group
low spend/student                      93.324222               96.634622
moderate low spend/student             87.133538               92.718205
moderate high spend/student            75.209078               86.089386
high spend/student                     66.701010               80.675217

                             Percent passed overall
Spend Group
low spend/student                         90.298423
moderate low spend/student                81.418596
moderate high spend/student               65.713578
high spend/student                        53.717613

C:\Users\melis\anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:8: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

## Scores by School Size

* Perform the same operations as above, based on school size.

In [13]:
#create bins
population = total_students
#determine quartiles
population.quantile([0.25,0.5,0.75])
population.min()
population.max()
#bins should be:
bins = [427, 1698, 2283, 3474, 4976]
#create labels for the bins
labels = ["small student body", "moderate small student body", "moderate large student body", "large student body"]

In [14]:
#cut data and place it into bins
pd.cut(school_summary_df["Total students"], bins, labels=labels).head()
#put bins in a column
school_summary_df["Student body size"] = pd.cut(school_summary_df["Total students"], bins, labels=labels)
school_summary_df.head()
#groupby budget
#groupby_budget = school_summary_df.groupby("Spend Group")
#print(groupby_budget["Avg math score", "Avg reading score", "Percent passed math", "Percent passed reading", "Percent passed overall"].mean())

,School type,Total students,Budget,Per Student Budget,Avg math score,Avg reading score,Percent passed math,Percent passed reading,Percent passed overall,Spend Group,Student body size
school_name,,,,,,,,,,,
Bailey High School,<class 'type'>,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,moderate low spend/student,large student body
Cabrera High School,<class 'type'>,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,low spend/student,moderate small student body
Figueroa High School,<class 'type'>,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,moderate high spend/student,moderate large student body
Ford High School,<class 'type'>,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,high spend/student,moderate large student body
Griffin High School,<class 'type'>,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,moderate low spend/student,small student body

## Scores by School Type

* Perform the same operations as above, based on school type