### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [17]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [18]:
#Data cleaning
school_data_complete.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [19]:
#Data cleaning
school_data.count()
student_data.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [24]:
#caclculate total # of schools
total_schools = len(school_data_complete["school_name"].unique())
#total students
total_students = len(school_data_complete['student_name'].unique())
#total budget
total_budget = school_data_complete.groupby(["school_name"]).sum()
#avg math score
avg_math_score = school_data_complete["math_score"].mean()
#avg reading score 
avg_reading_score = school_data_complete["reading_score"].mean()
#% with passing math scores 
passed_math_percent = school_data_complete[school_data_complete["math_score"]>=70]["student_name"].count()/(total_students)*100
#% with passing reading scores
passed_reading_percent = school_data_complete[school_data_complete["reading_score"]>=70]["student_name"].count()/(total_students)*100
#% who passed math & reading
passed_mathandreading_percent = school_data_complete[school_data_complete["reading_score"] & ["math_score"]>=70]["student_name"].count()/(total_students)*100
#create a dataframe to hold results
district_summary_df = school_data_complete({"Total number of schools": total_schools, 
                                            "Total number of students": total_students, 
                                            "Total budget": total_budget,
                                            "Avg math score": avg_math_score, 
                                            "Avg reading score": avg_reading_score, 
                                            "Percent passsed math": passed_math_percent, 
                                            "Percent passed reading": passed_reading_percent,
                                            "Percent passed math and reading": passed_mathandreading_percent})
district_summary_df

102.73574812777014

ValueError: Arrays were different lengths: 39170 vs 1

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type